p{
	font-size: 1.3rem;
	font-family: sans-serif;
}

h1, h2{
	margin-bottom: 2rem;
	
}


.navbar-custom {
	font-size: 1.5rem;
}


/*MEDIA QUERYS*/

@media (min-width: 991px) {

.custom-margin {
	padding-left: 15rem;
	padding-right: 15rem;
	}
.tittle {
	padding: 4rem;
}
}	

@media (max-width: 991px) {

.custom-margin {
	padding-left: 8rem;
	padding-right: 8rem;
	}


@media (max-width: 768px) {

.custom-margin {
	padding-left: 3rem;
	padding-right: 3rem;
	}
}
