p{
	font-size: 1.3rem;
}

li{
	font-size: 1.3rem;
	margin: 3px;
	line-height: 2.2rem;
}

.navbar-custom {
	font-size: 1.5rem;
}

/*MEDIA QUERYS*/

@media (min-width: 991px) {

.custom-margin {
	padding-left: 12rem;
	padding-right: 12rem;
	}
}


