.banner {
	text-align: center;
	margin-top: 1rem;
}

.navbar-layout{
	display: flex;
	justify-content: space-between;
}



.no-underline{
	text-decoration: none;
	color: black;

}

.nav-bar-size {
	font-size: 2rem;

}

h1{
	font-family: 'anton', sans-serif;
	font-size: 3.3rem;

}