

.no-underline{
	text-decoration: none;
	color: black;
}

h1{
	font-size: 3.3rem;
	font-family: "Anton";

}

p{
	font-size: 1.3rem;
	font-family: sans-serif;
}

.font-links {
	font-size: 1.3rem;
}


/*MEDIA QUERYS*/

/*MEDIA QUERYS*/

@media (min-width: 991px) {

.custom-margin {
	padding-left: 16rem;
	padding-right: 16rem;
	}
}
