

.no-underline{
	text-decoration: none;
	color: black;
}

h1{
	font-family: 'anton', sans-serif;
	font-size: 3.3rem;

}

p{
	font-size: 1.3rem;
}

.font-links {
	font-size: 1.3rem;
}


/*MEDIA QUERYS*/

/*MEDIA QUERYS*/

@media (min-width: 996px) {

.custom-margin {
	padding-left: 12rem;
	padding-right: 12rem;
	}
}
